##############################
## Java
##############################
.mtj.tmp/
*.class
*.jar
*.war
*.ear
*.nar

##############################
## OS X
##############################
.DS_Store
.DS_Store
